:root {
    --primaryLight: #e6f3ff;
    --primaryDark: #42a5f5;
    --secondaryDark: #181818;
    --secondaryLight: #ffffff;
    --alternativeLight: #e31566;
}

body {
    font-family: 'PT Sans', sans-serif;
    color: var(--secondaryDark);
    margin: 0px;
    padding: 0px;
}

.outer {
    display: table;
    position: absolute;
    height: 100%;
    width: 100%;
}

.inner {
    margin-left: auto;
    margin-right: auto;
    width: 500px;
}

.innerDashboard {
    margin-left: auto;
    margin-right: auto;
    width: 800px;
}

.header {
    background-color: var(--primaryLight);
    text-transform: uppercase;
    margin-bottom: 100px;
}

.header ul {
    list-style-type: none;
    overflow: hidden;
    display: inline-block;
    float: right;
}

.header li a {
    display: block;
    color: var(--secondaryDark);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.header li a:hover {
    background-color: var(--alternativeLight);
}

.pinkButton {
    color: var(--secondaryLight);
    background-color: var(--alternativeLight);
    font-weight: bold;
    border-radius: 12px;
    border: none;
    padding: 15px 128px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    -ms-transform: translateX(32%);
    transform: translateX(32%);
    margin-top: 25px;
}

.blueButton {
    color: var(--secondaryLight);
    background-color: var(--primaryDark);
    font-weight: bold;
    border-radius: 12px;
    border: none;
    padding: 15px 128px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    -ms-transform: translateX(32%);
    transform: translateX(32%);
    margin-top: 25px;
}

.title {
    color: var(--primaryDark);
}

h1 {
    font-weight: bold;
    font-size: 32px;
}

p {
    font-weight: normal;
    font-size: 20px;
}

input[type=text], select {
    width: 100%;
    padding: 12px 10px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

#blueButton{
    color: var(--secondaryLight);
    background-color: var(--primaryDark);
    font-weight: bold;
    border-radius: 12px;
    border: none;
    padding: 10px 50px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
}
#view
{
    color: var(--secondaryLight);
    background-color: var(--primaryDark);
    font-weight: bold;
    border-radius: 12px;
    font-size: 16px;   
}
#pinkButton {
    color: var(--secondaryLight);
    background-color: var(--alternativeLight);
    font-weight: bold;
    border-radius: 12px;
    border: none;
    padding: 15px 50px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

input[type=submit] {
    width: 100%;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 80px;
    width: 60%;
}

#link {
    text-align: center;
    display: block;
    color: var(--primaryDark);
}

#header-logo {
    float: left;
    width: 150px;
    display: inline;
    margin-top: 25px;
}

.highlight-span {
    color: var(--primaryDark);
}